svg {
  background-color: #81b29a;
  width: 600px;
  height: 450px;
  border: 1px solid black;
}

body {
  font-family: "Ubuntu", sans-serif;
  background-color: #f4f1de;
  width: 100vw;
  height: 100vh;
}

.text-unselectable {
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.link-button {
  font-size: 1.2em;
  text-align: center;
}

.top-bar {
  margin-top: 5%;
}

.scroll-display {
  overflow: scroll;
  max-height: 450px;
  background-color: #f2cc8f;
}

.weight-input {
  max-width: 70px;
}

.desc-box {
  display: flex;
  flex-direction: column;
}

.edge-li {
  border-radius: 0%;
  background-color: #e6a53e;
}
